@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root {
  font-family: 'Roboto', sans-serif;
  --main-color: #1a1a1d;
  --sub-color: #6f2332;
}

body {
  background-color: var(--main-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainFrame {
  height: 75vh;
  width: 75vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 1fr 1fr;
  gap: 30px;
}

.mainFrame > div {
  box-sizing: border-box;
}

/* currentWeather card */
.currentWeather {
  grid-row: 1/ 3;
  text-align: center;
  padding-top: 4px;
  color: var(--main-color);
  background-color: var(--sub-color);
  border-radius: 10px;
  border: 5px solid black !important;
  overflow: auto;
}
.currentWeather > div {
  opacity: 0.7;
}
.name {
  font-size: 7vh;
  font-weight: bold;
}
.temp_c {
  font-size: 7vh;
  font-weight: bold;
}
.region,
.feelslike_c {
  font-size: 3vh;
}
.condition {
  font-size: 3.5vh;
}
.icon {
  height: 10vh;
}

/* input box */
.inputCard {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px;
  grid-auto-flow: column;
  color: var(--sub-color);
  gap: 10px;
}
input {
  outline: none;
  border: 2px solid transparent;
  border-bottom: 5px solid var(--sub-color);
  background-color: var(--main-color);
  color: var(--sub-color);
  font-size: 1.6rem;
  padding: 10px;
}
.inputCard > div {
  border: 4px solid black;
}
.search {
  height: 40px;
  margin-left: -50px;
}
input::placeholder {
  font-style: italic;
}

/* extraInfo card */
.extraInfo {
  border: 5px solid black !important;
  color: var(--sub-color);
  background-color: var(--main-color);
  border: 5px solid var(--main-color) !important;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  padding-top: 10px;
  border-radius: 10px;
}
.extraInfo > div > img {
  height: 7.5vh;
  padding-bottom: 10px;
  filter: invert(13%) sepia(88%) saturate(1731%) hue-rotate(325deg)
    brightness(91%) contrast(87%);
}
.extraInfo > div > div {
  font-weight: bold;
  font-size: 1.05rem;
  opacity: 0.8;
}
.cloud,
.pressure_mb {
  transform: translate(50%);
}

/* hourlyInfo card */
.hourlyInfo {
  grid-column: 1 / 3;
  color: var(--main-color);
  background-color: var(--sub-color);
  border-radius: 10px;
  border: 5px solid black !important;
  overflow: auto;

  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.hourlyInfo > div > div {
  font-size: 1.5rem;
  margin: 10px;
  font-weight: bold;
  opacity: 0.7;
}
.hourlyInfo > div {
  margin: 10px;
}
.hourlyInfo > div > img {
  height: 100px;
  margin: 10px;
}

/* temperature box */
.temperatureSwitch {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.temperatureSwitch > div {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.temperatureSwitch > div:first-child {
  border-right: 5px solid black;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.temperatureSwitch > div:nth-child(2) {
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}

/* toggles */
.toggle {
  color: var(--main-color);
  background-color: var(--sub-color);
}

#displayToggle {
  display: none;
}
